<header class="nav justify-content-center">
  <h1 class="text-white">{{ title }}</h1>
</header>
<main class="bg-white">
  <div class="container pt-3">
    <app-add></app-add>
    <app-search></app-search>
    <app-list></app-list>
  </div>
</main>
<footer class="container d-flex text-white py-2">
  <p>All contents &copy; 2024 <a>Abhishek Wadalkar</a>. All rights reserved.</p>
  <div class="ml-auto">
    <a class="d-block" class="text-white text-decoration-none" href="#"
      >Terms of use</a
    >
    <a class="d-block" class="text-white text-decoration-none" href="#"
      >Privacy policy</a
    >
  </div>
</footer>
