<div class="card" [ngClass]="{'add-appointment': showForm}">
  <div class="card-header text-white fw-medium" (click)="onToggleAptDisplay()">
    <fa-icon [icon]="faPlus"></fa-icon>
    Add Appointment
  </div>
  <div class="card-body">
    <form #aptForm="ngForm" (ngSubmit)="handleAddApt(aptForm)">
      <div class="mb-3">
        <label for="petname" class="form-label"
          >Pet Name</label
        >
        <input
          type="text"
          class="form-control"
          id="petname"
          placeholder="Pet's Name"
          name="petName"
          ngModel
        />
      </div> 
      <div class="mb-3">
        <label for="ownername" class="form-label"
          >Owner Name</label
        >
        <input
          type="text"
          class="form-control"
          id="ownername"
          placeholder="Owner's Name"
          name="ownerName"
          ngModel
        />
      </div>
      <div class="mb-3">
        <label for="date" class="form-label"
          >Date</label
        >
        <input
          type="date"
          class="form-control"
          id="date"
          name="date"
          ngModel
        />
      </div>
      <div class="mb-3">
        <label for="time" class="form-label"
          >Date</label
        >
        <input
          type="time"
          class="form-control"
          id="time"
          name="time"
          ngModel
        />
      </div>
      <div class="mb-3">
        <label for="aptnotes" class="form-label"
          >Apt. Notes</label
        >
        <textarea
          class="form-control"
          id="aptnotes"
          rows="3"
          placeholder="Appointment Notes"
          name="aptNotes"
          ngModel
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Appointment</button>
    </form>
  </div>
</div>
